* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: blanchedalmond;
}

nav {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    padding: 5px;
    text-align: center;
}

nav li a {
    display: inline-block;
    text-align: center;
    color: rgb(44, 28, 4);
    text-decoration: none;
    padding: 10px;
    width: 120px;
}

nav li a:hover {
    background-color: rgb(44, 28, 4);
    color: blanchedalmond;
}

nav li a#current {
    border: solid rgb(44, 28, 4) 1.5px;
}

.title {
    background-image: url("images/kaveszemek.jpg");
    color: blanchedalmond;
    text-align: center;
    font-size: 2em;
    padding: 5px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
}

p {
    line-height: 1.5;
}

article {
    text-align: justify;
}

article.not-justify {
    text-align: start;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 20px;
}

.text-content {
    margin: 4%;
}

.text-content3 {
    margin: 4%;
    background-color: rgb(155,121,96);
    border-radius: 10px;
    color: rgb(251, 240, 224);
    padding: 20px;
}

.image-content {
    flex: 1;
}

.image-content img {
    width: 92%;
    margin: 4%;
}

.quote {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: rgb(251, 240, 224);
    background-color: rgb(155,121,96);
    text-align: center;
    font-size: 1.2em;
    padding: 15px;
}

.infobox {
    text-align: center;
}

footer {
    background-color: rgb(75,56,50);
    color: blanchedalmond;
    padding: 30px;
    text-align: center;
}

.centered-title {
    text-align: center;
    padding: 30px;
}

input[type=text], input[type=email], input[type=number], input[type=date], input[type=tel], select {
    padding: 8px;
    border: 2px solid rgb(75,56,50);
    border-radius: 8px;
    margin: 16px;
    font-size: 1.1em;
}

input[type=checkbox], input[type=radio] {
    margin: 16px;
    transform: scale(1.5);
}

input[type=submit], input[type=button] {
    padding: 16px;
    background-color: rgb(75,56,50);
    color: blanchedalmond;
    border-radius: 8px;
    font-size: 1.2em;
}
#eredmeny {
    color: rgb(75,56,50);
}

.grow {
    transition: transform 0.7s ease-in-out;
}

.grow:hover {
    transform: scale(1.08);
}


@media all and (min-width: 600px) {
    nav ul {
        flex-direction: row;
    }

    .title {
        font-size: 3em;
    }
    
    .text-content {
        flex-basis: 42%;
    }
    
    .arrangement{
        align-items: flex-start;
    }

    .infos {
        flex-direction: row;
    }
    
}

@media all and (min-width: 768px) {
    .container {
        flex-direction: row;
    }
    .reversed {
        flex-direction: row-reverse;
    }

    .text-content3 {
        flex-basis: 42%;
        height: 370px;
    }
   
}

@media all and (min-width: 1080px) {
    .text-content3 {
        flex-basis: 25.333%;
        height: 420px;
    }
}